.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.youtube_frame{
    min-width: 30%;
    min-height: 40vh;
}

.header .img-wrapper img {
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.header .img-wrapper{
    height: 80vh;
}

.card-testi img{
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.text-prim:hover, .text-prim:active {
    color: #34BAF7 !important;
}

.login-body, .register-body {
    background: url('../img/Internet-Website-PNG-Photos.png') center/cover no-repeat;
    position: relative;
    overflow: hidden;
    background-color: #34BAF7;
}

.bg-1{
    background-color: #34BAF7;
}

.bg-2{
    background-color: #FFBD13 !important;
    color: white !important;
}

.bg-2:hover{
    background-color: #34BAF7 !important;
    color: white !important;
}

.login-form form, 
.register-form form{
    width: 80%;
    min-height: 80vh;
}

.container-slider {
    overflow: hidden;
}

.card-slider {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin; /* Untuk Firefox */
    -webkit-overflow-scrolling: touch;
}

.card {
    flex: 0 0 auto;
    width: 300px; /* Sesuaikan lebar card */
    margin-right: 15px; /* Sesuaikan margin antar card */
    scroll-snap-align: start;
}

.card-slider::-webkit-scrollbar {
    width: 12px;
}

.card-slider::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media (max-width: 767px) {
    .register-body{
        overflow: visible;
    }

    .login-logo, .register-logo{
        margin: 0 auto;
    }
    
    .login-form form,
    .register-form form{
        width: 90%;
        min-height: 70%;
    }
}